// Tumblr API Console has auth keys
// https://www.tumblr.com/oauth/apps
module.exports = {
	blogname: 'my_blog',
	tags: 'tag1,tag2',
	auth: {
	  consumer_key: 'mykey',
	  consumer_secret: 'mysecret',
	  token: 'mytoken',
	  token_secret: 'mytokensecret'
	}
};
